* {
  margin: 0px;
  padding: 0px
}

body {
  font-family: 'PT Sans', sans-serif;
  font-weight: 300;
  font-size: 14px; 
  text-decoration:none;
  color: #333;
  padding: 50px 300px;
  width:1000;
}

em {
  color: navy;
}

form input {
  margin: 12px 6px 0px 10px;
  padding: 10px;
  background-color: #333;
  color: white;
  font-size: 14px;
}

form input[type="submit"] {
  color: indianred;
}

form input[type="submit"]:hover,
form input[type="reset"]:hover {
  background-color: ghostwhite;
}

p {
  background-color: tan;
  float: right;
  font-size:20px;
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}